# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
backend/build/
backend/out/
backend/.gradle/
backend/.env

# H2
*.db
*.mv.db
*.trace.db